* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
  background-color: rgb(184, 0, 0);
  --cells: 16;
  --border-on: 1px solid black;
  --border-off: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-container {
  order: 2;
  width: 95vw;
  margin: 25px 0;
}

.sketch-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 90px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

p {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.border-options + p {
  font-weight: normal;
}

.pen-options {
  margin: 0 5px;
}

.border-options + p {
  margin-top: 25px;
}

.grid-options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.size-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label[for="size"] {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

#size {
  width: 100px;
  text-align: center;
}

.grid-instruct {
  display: none;
  position: absolute;
  width: 200px;
  margin-top: -65px;
  padding: 6px 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  text-align: center;
  font-weight: normal;
  line-height: 2;
}

#size:focus + .grid-instruct {
  display: block;
}

/* styles for the buttons */
.color-picker {
  width: 40px;
  height: 40px;
  border: 3px solid black;
}

.color-picker:hover,
.pen-btn:hover,
.border-btn:hover,
.grid-btn:hover {
  cursor: pointer;
}

.pen-btn,
.border-btn {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
}

.pen-btn {
  margin-left: 5px;
}

.pen-btn:first-of-type {
  margin-left: 0;
}

.pen-btn:hover:active {
  transform: scale(0.9);
}

.grid-btn {
  background-image: url("images/Knob-Icon.png");
  background-color: transparent;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  transition: transform 0.25s;
}

.grid-btn:hover:active {
  transform: rotate(360deg);
}

.solid-btn {
  background-image: url("images/Solid-Color.png");
}

.gradient-btn {
  background-image: url("images/Gradient-Color.png");
}

.random-btn {
  background-image: url("images/Random-Color.png");
}

/* toggle slider for enabling/disabling cell borders */
.toggle {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 28px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(105, 105, 105);
  transition: 0.4s;
  border: 2px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 2px;
  bottom: 1px;
  margin: auto 0;
  transition: 0.4s;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(58px);
}

.slider:after {
  content: "OFF";
  color: white;
  display: block;
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: 0.75rem;
  font-weight: bold;
}

input:checked + .slider:after {
  content: "ON";
  color: black;
  left: 32px;
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 20px;
}

/* style for selected pen option and focused element with tabbing */
.selected {
  box-shadow: 0 0 5px 2px rgb(255, 0, 0);
}

input:focus + .slider {
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

/* style for the grid and cells */
#grid {
  display: grid;
  grid-template-columns: repeat(var(--cells), 1fr);
  grid-template-rows: repeat(var(--cells), 1fr);
  width: 90vw;
  height: 90vw;
  margin-top: 50px;
  background-color: white;
  border: 2px solid black;
  outline: 10px solid white;
}

.cell {
  border: var(--border-on);
}

/* shaking animation for clearing grid */
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 0.25s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

@media only screen and (min-width: 440px) {
  .options-container {
    width: 420px;
  }

  #grid {
    width: 400px;
    height: 400px;
    transition: width 0.25s, height 0.25s;
  }
}

@media only screen and (min-width: 600px) {
  #grid {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 990px) {
  .page-container {
    display: block;
  }

  .options-container {
    position: absolute;
    width: 160px;
    margin: 0;
    left: 75px;
  }

  .sketch-options {
    justify-content: center;
    padding: 10px 0;
  }

  .pen-options {
    margin: 20px 0;
  }

  .grid-options {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .grid-btn {
    margin-top: 20px;
  }

  .grid-btn:first-child {
    margin-right: 10px;
  }

  #create {
    order: 2;
  }

  #clear {
    order: 3;
  }

  #grid {
    margin: 50px auto;
  }
}

@media only screen and (min-width: 1100px) {
  #grid {
    width: 600px;
    height: 600px;
  }
}
